*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Gilroy";
  font-size: 0.5208335vw;
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

body {
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #070B14;
}

input,
textarea {
  -webkit-animation: bugfix infinite 1s;
  line-height: inherit;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  color: inherit;
}

a {
  color: unset;
}

a,
a:hover {
  text-decoration: none;
}

button,
input,
a,
textarea {
  outline: none;
  cursor: pointer;
  font: inherit;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
button:active,
input:active,
a:active,
textarea:active {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

button {
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  padding: 0;
  background-color: transparent;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 156rem;
  margin: 0 auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@media (max-width: 48em) {
  html {
    font-size: 5px;
    font-size: 1.5625vw;
    font-size: 1.3333333333vw;
    -webkit-text-size-adjust: none;
  }

  body {
    -webkit-text-size-adjust: none;
  }

  .container {
    padding: 0 4rem;
    width: 100%;
  }
}
.button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 7.3rem;
  padding: 0 6rem;
  border-radius: 100rem;
  background-color: #141720;
  font-family: "Druk Wide Cyr";
  font-weight: 500;
  font-size: 2.1rem;
}
.button:after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  z-index: -1;
  display: block;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border-radius: 100rem;
  background: radial-gradient(94.31% 66.31% at -53.25% 10.23%, #FFFFFF 0%, rgba(255, 255, 255, 0.12) 100%), radial-gradient(86.84% 30.42% at 129.28% 66.93%, #8470FF 0%, rgba(134, 92, 255, 0) 100%), radial-gradient(41.06% 41.06% at 51.09% -22.85%, #000000 0%, rgba(255, 255, 255, 0) 100%);
}
.button:hover {
  -webkit-box-shadow: 0 0 3rem 3px rgba(132, 112, 255, 0.2);
          box-shadow: 0 0 3rem 3px rgba(132, 112, 255, 0.2);
}
.button--select {
  padding: 0 3.5rem;
}
.button--select .button__icon {
  width: 1.6rem;
  height: 2.8rem;
  margin-left: 2rem;
  margin-top: 0;
}
.button--slim {
  height: 6rem;
}
.button--slim:after {
  left: -1px;
  top: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
}
.button__icon {
  width: 3.6rem;
  height: 2.4rem;
  margin-left: 1rem;
  margin-top: 0.6rem;
}
.button__icon > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.button__border {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.scroll__text {
  margin-right: 1rem;
  -webkit-transform: rotate(-9deg) translateY(60%);
          transform: rotate(-9deg) translateY(60%);
  font-size: 2.4rem;
}
.scroll__icon {
  width: 4rem;
  height: 5.8rem;
}
.scroll__icon > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.table__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.table__row:not(:last-child) {
  margin-bottom: 5rem;
}
.table__row--title {
  margin-bottom: 3rem;
}
.table__column {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
.table__column-title {
  font-weight: 600;
  font-size: 1.7rem;
  color: #6F767E;
}
.table__content {
  padding: 5rem;
  border-radius: 2rem;
  background-color: #141720;
}

.tabs-table--fill-bg-even .tabs-table__row {
  min-height: 7.4rem;
}
.tabs-table--fill-bg-even .tabs-table__row:not(:last-child) {
  margin-bottom: 0;
}
.tabs-table--fill-bg-even .tabs-table__row--title {
  margin-bottom: 0;
}
.tabs-table--fill-bg-even .tabs-table__content > *:nth-child(even) {
  background: -webkit-gradient(linear, left top, right top, color-stop(-11.24%, rgba(33, 31, 47, 0)), color-stop(49.5%, #211F2F), color-stop(107.76%, rgba(33, 31, 47, 0)));
  background: linear-gradient(90deg, rgba(33, 31, 47, 0) -11.24%, #211F2F 49.5%, rgba(33, 31, 47, 0) 107.76%);
}
.tabs-table__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tabs-table__tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 34.3rem;
  height: 9rem;
  padding: 0 2rem;
  border-radius: 2rem 2rem 0 0;
  cursor: pointer;
  font-family: "Druk Wide Cyr";
  font-weight: 500;
  font-size: 2.1rem;
}
.tabs-table__tab.active {
  position: relative;
  background-color: #141720;
}
.tabs-table__tab.active:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: linear-gradient(269.86deg, #653AEC 42.17%, #EB81C8 100.03%), linear-gradient(0deg, #FFFFFF, #FFFFFF);
  -webkit-box-shadow: 0 2px 4px 0 rgba(255, 147, 189, 0.4);
          box-shadow: 0 2px 4px 0 rgba(255, 147, 189, 0.4);
}
.tabs-table__tab-content {
  padding: 5rem;
  border-radius: 0 2rem 2rem 2rem;
  background-color: #141720;
}
.tabs-table__tab-content > input {
  display: none;
}
.tabs-table__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tabs-table__row:not(:last-child) {
  margin-bottom: 5rem;
}
.tabs-table__row--title {
  margin-bottom: 3rem;
}
.tabs-table__column-title {
  font-weight: 600;
  font-size: 1.7rem;
  color: #6F767E;
}
.tabs-table__column {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  display: block;
  width: 22rem;
  height: 16rem;
  margin-right: 10rem;
}
.header__logo > img {
  width: 100%;
  height: 100%;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__item {
  font-size: 2rem;
}
.header__item:not(:last-child) {
  margin-right: 6rem;
}
.header__item:hover {
  color: #bbb;
}
.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__buttons > *:not(:last-child) {
  margin-right: 2.5rem;
}

body {
  min-height: 100vh;
  position: relative;
  padding-bottom: 48.5rem;
}
@media (max-width: 48em) {
  body {
    padding-bottom: 181.2rem;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-left: 1px solid rgba(157, 153, 175, 0.1);
  border-right: 1px solid rgba(157, 153, 175, 0.1);
}
.footer__contacts {
  padding: 6rem 0 0 1rem;
  margin-right: auto;
}
.footer__logo {
  display: block;
  width: 22rem;
  height: 16rem;
  margin-bottom: 2.5rem;
}
.footer__logo > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__social-link {
  width: 4rem;
  height: 4rem;
}
.footer__social-link > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer__social-link:not(:last-child) {
  margin-right: 2rem;
}
.footer__list {
  padding: 10rem 0 6rem 2rem;
  margin-right: 15rem;
  border-left: 1px solid rgba(157, 153, 175, 0.1);
}
.footer__list-item {
  font-size: 2rem;
}
.footer__list-item:not(:last-child) {
  margin-bottom: 3rem;
}
.footer__list-item:hover {
  color: #bbb;
}
.footer__separator {
  width: 100%;
  height: 1px;
  background-color: rgba(237, 237, 241, 0.1);
}
.footer__request-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.5rem 1rem;
  border-left: 1px solid rgba(157, 153, 175, 0.1);
  border-right: 1px solid rgba(157, 153, 175, 0.1);
}
.footer__copyright {
  font-size: 2rem;
  color: #72757A;
}
.footer__request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  font-size: 1.6rem;
  color: #72757A;
}
.footer__request-logo {
  display: block;
  width: 17.7rem;
  height: 4rem;
  margin-left: 2.5rem;
}
.footer__request-logo > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.main-intro {
  margin-top: 13rem;
  margin-bottom: 20rem;
}
.main-intro__bg {
  position: absolute;
  z-index: -1;
}
.main-intro__bg--crystal {
  left: 0;
  top: 10.5rem;
  width: 38rem;
  height: 78.2rem;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
.main-intro__bg--crystal > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-intro__bg--cards {
  right: -10rem;
  top: 0;
}
.main-intro__container {
  position: relative;
  padding-left: 14rem;
}
.main-intro__circle-text {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 17.7rem;
  height: 17.7rem;
}
.main-intro__circle-text > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-intro__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Neue Metana";
  font-size: 10rem;
  letter-spacing: -0.08em;
}
.main-intro__star-icon {
  width: 9.7rem;
  height: 9.7rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
}
.main-intro__star-icon > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-intro__title {
  margin-bottom: 6rem;
  font-family: "Druk Wide Cyr";
  font-weight: bold;
  font-size: 7.2rem;
  line-height: 6.3rem;
}
.main-intro__desc {
  width: 50.5rem;
  margin-left: 8rem;
  margin-bottom: 6rem;
  font-size: 2rem;
}
.main-intro__button {
  margin-left: 8rem;
}
.main-intro__scroll-link {
  margin: 12rem auto 0 auto;
  -webkit-transform: translateX(-5rem);
          transform: translateX(-5rem);
}

html {
  scroll-behavior: smooth;
}

body.lock {
  overflow: hidden;
}

@media (min-width: 48.01em) {
  .mobile {
    display: none;
  }
}
@media (max-width: 48em) {
  .desktop {
    display: none;
  }
}