*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Gilroy";
  font-size: 0.5208335vw;
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

body {
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #070B14;
}

input,
textarea {
  -webkit-animation: bugfix infinite 1s;
  line-height: inherit;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  color: inherit;
}

a {
  color: unset;
}

a,
a:hover {
  text-decoration: none;
}

button,
input,
a,
textarea {
  outline: none;
  cursor: pointer;
  font: inherit;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
button:active,
input:active,
a:active,
textarea:active {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

button {
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  padding: 0;
  background-color: transparent;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 156rem;
  margin: 0 auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@media (max-width: 48em) {
  html {
    font-size: 5px;
    font-size: 1.5625vw;
    font-size: 1.3333333333vw;
    -webkit-text-size-adjust: none;
  }

  body {
    -webkit-text-size-adjust: none;
  }

  .container {
    padding: 0 4rem;
    width: 100%;
  }
}
.button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 7.3rem;
  padding: 0 6rem;
  border-radius: 100rem;
  background-color: #141720;
  font-family: "Druk Wide Cyr";
  font-weight: 500;
  font-size: 2.1rem;
}
.button:after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  z-index: -1;
  display: block;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border-radius: 100rem;
  background: radial-gradient(94.31% 66.31% at -53.25% 10.23%, #FFFFFF 0%, rgba(255, 255, 255, 0.12) 100%), radial-gradient(86.84% 30.42% at 129.28% 66.93%, #8470FF 0%, rgba(134, 92, 255, 0) 100%), radial-gradient(41.06% 41.06% at 51.09% -22.85%, #000000 0%, rgba(255, 255, 255, 0) 100%);
}
.button:hover {
  -webkit-box-shadow: 0 0 3rem 3px rgba(132, 112, 255, 0.2);
          box-shadow: 0 0 3rem 3px rgba(132, 112, 255, 0.2);
}
.button--select {
  padding: 0 3.5rem;
}
.button--select .button__icon {
  width: 1.6rem;
  height: 2.8rem;
  margin-left: 2rem;
  margin-top: 0;
}
.button--slim {
  height: 6rem;
}
.button--slim:after {
  left: -1px;
  top: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
}
.button__icon {
  width: 3.6rem;
  height: 2.4rem;
  margin-left: 1rem;
  margin-top: 0.6rem;
}
.button__icon > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.button__border {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.scroll__text {
  margin-right: 1rem;
  -webkit-transform: rotate(-9deg) translateY(60%);
          transform: rotate(-9deg) translateY(60%);
  font-size: 2.4rem;
}
.scroll__icon {
  width: 4rem;
  height: 5.8rem;
}
.scroll__icon > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.table__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.table__row:not(:last-child) {
  margin-bottom: 5rem;
}
.table__row-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
  padding: 0 5rem;
}
.table__column {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
.table__column-title {
  font-weight: 600;
  font-size: 1.7rem;
  color: #6F767E;
}
.table__content {
  padding: 5rem;
  border-radius: 2rem;
  background-color: #141720;
}

.tabs-table--fill-bg-even .tabs-table__row {
  min-height: 7.4rem;
}
.tabs-table--fill-bg-even .tabs-table__row:not(:last-child) {
  margin-bottom: 0;
}
.tabs-table--fill-bg-even .tabs-table__row--title {
  margin-bottom: 0;
}
.tabs-table--fill-bg-even .tabs-table__content > *:nth-child(even) {
  background: -webkit-gradient(linear, left top, right top, color-stop(-11.24%, rgba(33, 31, 47, 0)), color-stop(49.5%, #211F2F), color-stop(107.76%, rgba(33, 31, 47, 0)));
  background: linear-gradient(90deg, rgba(33, 31, 47, 0) -11.24%, #211F2F 49.5%, rgba(33, 31, 47, 0) 107.76%);
}
.tabs-table__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tabs-table__tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 34.3rem;
  height: 9rem;
  padding: 0 2rem;
  border-radius: 2rem 2rem 0 0;
  cursor: pointer;
  font-family: "Druk Wide Cyr";
  font-weight: 500;
  font-size: 2.1rem;
}
.tabs-table__tab.active {
  position: relative;
  background-color: #141720;
}
.tabs-table__tab.active:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: linear-gradient(269.86deg, #653AEC 42.17%, #EB81C8 100.03%), linear-gradient(0deg, #FFFFFF, #FFFFFF);
  -webkit-box-shadow: 0 2px 4px 0 rgba(255, 147, 189, 0.4);
          box-shadow: 0 2px 4px 0 rgba(255, 147, 189, 0.4);
}
.tabs-table__tab-content {
  padding: 5rem;
  border-radius: 0 2rem 2rem 2rem;
  background-color: #141720;
}
.tabs-table__tab-content > input {
  display: none;
}
.tabs-table__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tabs-table__row:not(:last-child) {
  margin-bottom: 5rem;
}
.tabs-table__row--title {
  margin-bottom: 3rem;
}
.tabs-table__column-title {
  font-weight: 600;
  font-size: 1.7rem;
  color: #6F767E;
}
.tabs-table__column {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
.body-bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
}
.body-bg > img {
  width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  display: block;
  width: 22rem;
  height: 16rem;
  margin-right: 10rem;
}
.header__logo > img {
  width: 100%;
  height: 100%;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__item {
  font-size: 2rem;
}
.header__item:not(:last-child) {
  margin-right: 6rem;
}
.header__item:hover {
  color: #bbb;
}
.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__buttons > *:not(:last-child) {
  margin-right: 2.5rem;
}

body {
  min-height: 100vh;
  position: relative;
  padding-bottom: 48.5rem;
}
@media (max-width: 48em) {
  body {
    padding-bottom: 181.2rem;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.footer__dark-bg {
  position: absolute;
  left: 0;
  top: -6rem;
  display: block;
  width: 100%;
  height: 13.8rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(25.9%, #070B14), color-stop(96.53%, rgba(7, 11, 20, 0.22)));
  background: linear-gradient(180deg, #070B14 25.9%, rgba(7, 11, 20, 0.22) 96.53%);
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-left: 1px solid rgba(157, 153, 175, 0.1);
  border-right: 1px solid rgba(157, 153, 175, 0.1);
}
.footer__contacts {
  padding: 8rem 0 0 1rem;
  margin-right: auto;
}
.footer__logo {
  display: block;
  width: 22rem;
  height: 16rem;
  margin-bottom: 2.5rem;
}
.footer__logo > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__social-link {
  width: 4rem;
  height: 4rem;
}
.footer__social-link > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer__social-link:not(:last-child) {
  margin-right: 2rem;
}
.footer__list {
  padding: 10rem 0 6rem 2rem;
  margin-right: 15rem;
  border-left: 1px solid rgba(157, 153, 175, 0.1);
}
.footer__list-item {
  font-size: 2rem;
}
.footer__list-item:not(:last-child) {
  margin-bottom: 3rem;
}
.footer__list-item:hover {
  color: #bbb;
}
.footer__separator {
  width: 100%;
  height: 1px;
  background-color: rgba(237, 237, 241, 0.1);
}
.footer__request-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.5rem 1rem;
  border-left: 1px solid rgba(157, 153, 175, 0.1);
  border-right: 1px solid rgba(157, 153, 175, 0.1);
}
.footer__copyright {
  font-size: 2rem;
  color: #72757A;
}
.footer__request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  font-size: 1.6rem;
  color: #72757A;
}
.footer__request-logo {
  display: block;
  width: 17.7rem;
  height: 4rem;
  margin-left: 2.5rem;
}
.footer__request-logo > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.main-intro {
  margin-top: 13rem;
  margin-bottom: 20rem;
}
.main-intro__bg {
  position: absolute;
  z-index: -1;
}
.main-intro__bg > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-intro__bg--crystal {
  left: 0;
  top: 10.5rem;
  width: 38rem;
  height: 78.2rem;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
.main-intro__bg--cards {
  right: 0;
  top: 0;
  width: 112.2rem;
  height: 113.9rem;
  overflow: hidden;
}
.main-intro__bg--cards > img {
  -webkit-transform: translateX(10rem);
          transform: translateX(10rem);
}
.main-intro__container {
  position: relative;
  padding-left: 14rem;
}
.main-intro__circle-text {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 17.7rem;
  height: 17.7rem;
}
.main-intro__circle-text > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-intro__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Neue Metana";
  font-size: 10rem;
  letter-spacing: -0.08em;
}
.main-intro__star-icon {
  width: 9.7rem;
  height: 9.7rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
}
.main-intro__star-icon > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-intro__title {
  margin-bottom: 6rem;
  font-family: "Druk Wide Cyr";
  font-weight: bold;
  font-size: 7.2rem;
  line-height: 6.3rem;
  text-transform: uppercase;
}
.main-intro__desc {
  width: 50.5rem;
  margin-left: 8rem;
  margin-bottom: 6rem;
  font-size: 2rem;
}
.main-intro__button {
  margin-left: 8rem;
}
.main-intro__scroll-link {
  margin: 12rem auto 0 auto;
  -webkit-transform: translateX(-5rem);
          transform: translateX(-5rem);
}

.basic-coin {
  margin-bottom: 18.5rem;
}
.basic-coin__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.basic-coin__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 36.4rem;
  height: 24.1rem;
  padding: 3rem 0 2.3rem 3rem;
  border-radius: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.1674);
  background-color: #141720;
  overflow: hidden;
}
.basic-coin__item:before {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 14.3rem;
  height: 14.3rem;
}
.basic-coin__item:nth-child(4n+1):before, .basic-coin__item:nth-child(4n+3):before {
  content: "";
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(91, 112, 231, 0.31)), to(rgba(91, 112, 231, 0)));
  background: linear-gradient(180deg, rgba(91, 112, 231, 0.31) 0%, rgba(91, 112, 231, 0) 100%);
  -webkit-filter: blur(5rem);
          filter: blur(5rem);
}
.basic-coin__item:nth-child(4n+2):before {
  content: "";
  background: -webkit-gradient(linear, left top, left bottom, from(#5B70E7), to(rgba(91, 112, 231, 0)));
  background: linear-gradient(180deg, #5B70E7 0%, rgba(91, 112, 231, 0) 100%);
  -webkit-filter: blur(5rem);
          filter: blur(5rem);
}
.basic-coin__img-box {
  position: absolute;
  right: 4rem;
  top: 50%;
  width: 11rem;
  height: 11rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.basic-coin__img-box > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.basic-coin__name {
  font-weight: 600;
  font-size: 2.5rem;
  text-transform: uppercase;
}
.basic-coin__price {
  font-size: 2.5rem;
  letter-spacing: 0.05em;
}
.basic-coin__trend {
  font-weight: 600;
  font-size: 2.5rem;
}

.crypto {
  margin-bottom: 17rem;
}
.crypto__title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 7rem;
}
.crypto__title {
  font-family: "Druk Wide Cyr";
  font-weight: 500;
  font-size: 5.5rem;
}
.crypto__more-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0.6rem;
  font-family: "Druk Wide Cyr";
  font-weight: 500;
  font-size: 2.1rem;
  border-bottom: 2px solid;
  border-image-source: linear-gradient(-90deg, #4B63ED 0%, #F163A5 100%);
  border-image-slice: 1;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.crypto__more-link > svg {
  width: 3.6rem;
  height: 2.4rem;
  margin-left: 1rem;
}
.crypto__more-link > svg path {
  stroke: white;
}
.crypto__more-link:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.crypto__table .table__row {
  padding: 2.5rem 0;
}
.crypto__table .table__row:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(-11.24%, rgba(33, 31, 47, 0)), color-stop(49.5%, #211F2F), color-stop(107.76%, rgba(33, 31, 47, 0)));
  background: linear-gradient(90deg, rgba(33, 31, 47, 0) -11.24%, #211F2F 49.5%, rgba(33, 31, 47, 0) 107.76%);
}
.crypto__table .table__row:not(:last-child) {
  margin-bottom: 0;
}
.crypto__table .table__row:first-child {
  margin-top: -2.5rem;
}
.crypto__table .table__row:last-child {
  margin-bottom: -2.5rem;
}
.crypto__table .table__column {
  font-size: 2rem;
}
.crypto__table .table__column:nth-child(1) {
  width: 5.6rem;
}
.crypto__table .table__column:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}
.crypto__table .table__column:nth-child(3) {
  width: 25.1rem;
}
.crypto__table .table__column:nth-child(4) {
  width: 23.4rem;
}
.crypto__table .table__column:nth-child(5) {
  width: 22.5rem;
}
.crypto__table .table__column:nth-child(6) {
  width: 28.3rem;
  text-align: right;
}
.crypto__name-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.crypto__icon {
  width: 5.5rem;
  height: 5.5rem;
  margin-right: 2rem;
  border-radius: 100%;
  overflow: hidden;
}
.crypto__icon > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.crypto__name {
  margin-right: 1rem;
  font-weight: 600;
  font-size: 2.5rem;
}
.crypto__abbr {
  margin-top: 0.4rem;
  font-size: 1.7rem;
  opacity: 0.5;
  text-transform: uppercase;
}
.crypto__trend--green {
  color: #50DFB2;
}
.crypto__trend--red {
  color: #FF93BD;
}
.crypto__graph {
  width: 100%;
  height: 5rem;
}
.crypto__graph > img {
  width: 100%;
  height: 100%;
}

.portable {
  position: relative;
  margin-bottom: 19rem;
}
.portable__container {
  position: relative;
}
.portable__title {
  width: 75rem;
  margin: 0 auto 4rem auto;
  font-family: "Druk Wide Cyr";
  font-weight: 500;
  font-size: 5.5rem;
  text-align: center;
}
.portable__desc {
  width: 56.5rem;
  margin: 0 auto 4rem auto;
  font-size: 2rem;
  text-align: center;
}
.portable__btn {
  margin: 0 auto 7rem auto;
  background-color: #282E42;
}
.portable__desc-arrow {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
}
.portable__desc-arrow--left {
  left: 0;
  top: 20rem;
}
.portable__desc-arrow--left > span {
  display: block;
  width: 10.2rem;
  margin-top: 2rem;
  -webkit-transform: rotate(-9deg);
          transform: rotate(-9deg);
}
.portable__desc-arrow--right {
  right: 0;
  top: 28rem;
}
.portable__desc-arrow--right > span {
  display: block;
  margin-top: 5rem;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}
.portable__arrow-icon {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 4rem;
  height: 5.8rem;
}
.portable__arrow-icon > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.portable__img-box {
  width: 100%;
  height: 76rem;
}
.portable__img-box > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.portable__bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.reliable {
  margin-bottom: 20rem;
}
.reliable__title {
  width: 72.4rem;
  margin: 0 auto 9rem auto;
  font-family: "Druk Wide Cyr";
  font-weight: 500;
  font-size: 5.5rem;
  text-align: center;
}
.reliable__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 52rem 4rem 48rem 4rem 48rem;
  grid-template-columns: 52rem 48rem 48rem;
  -ms-grid-rows: 34rem 4rem 34rem;
  grid-template-rows: 34rem 34rem;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
}
.reliable__cards > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.reliable__cards > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.reliable__cards > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.reliable__cards > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.reliable__cards > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.reliable__cards > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.reliable__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4rem;
  border-radius: 2rem;
  background-color: #141720;
}
.reliable__item:before {
  content: "";
  position: absolute;
  left: -1px;
  top: -1px;
  z-index: -1;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border-radius: 2rem;
  background: radial-gradient(94.31% 66.31% at -53.25% 10.23%, #FFFFFF 0%, rgba(255, 255, 255, 0.12) 100%), radial-gradient(86.84% 30.42% at 129.28% 66.93%, #8470FF 0%, rgba(134, 92, 255, 0) 100%), radial-gradient(41.06% 41.06% at 51.09% -22.85%, #000000 0%, rgba(255, 255, 255, 0) 100%), -webkit-gradient(linear, left bottom, left top, from(#141720), to(#141720));
  background: radial-gradient(94.31% 66.31% at -53.25% 10.23%, #FFFFFF 0%, rgba(255, 255, 255, 0.12) 100%), radial-gradient(86.84% 30.42% at 129.28% 66.93%, #8470FF 0%, rgba(134, 92, 255, 0) 100%), radial-gradient(41.06% 41.06% at 51.09% -22.85%, #000000 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #141720, #141720);
}
.reliable__item:nth-child(1) {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
}
.reliable__item:last-child {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 2;
  grid-column-end: 4;
  -ms-grid-row: 2;
  grid-row: 2;
}
.reliable__item--column .reliable__item-desc {
  width: 35.7rem;
}
.reliable__item--row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.reliable__item--row .reliable__item-desc {
  width: 42rem;
}
.reliable__img-box > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.reliable__img-box--column {
  width: 39.4rem;
  height: 29.3rem;
  margin: -9rem auto 0 auto;
}
.reliable__img-box--row {
  width: 29rem;
  height: 28rem;
}
.reliable__item-title {
  width: 28.4rem;
  margin-bottom: 2rem;
  font-family: "Druk Wide Cyr";
  font-weight: 500;
  font-size: 2.1rem;
  text-transform: uppercase;
}
.reliable__item-desc {
  width: 34rem;
  font-size: 2rem;
}
.reliable__btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 11.1rem;
  height: 6rem;
  border-radius: 100rem;
  background: radial-gradient(41.06% 41.06% at 51.09% -22.85%, #000000 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(86.84% 30.42% at 129.28% 66.93%, #8470FF 0%, rgba(134, 92, 255, 0) 100%), radial-gradient(94.31% 66.31% at -53.25% 10.23%, #FFFFFF 0%, rgba(255, 255, 255, 0.06) 100%);
}
.reliable__btn:hover {
  -webkit-box-shadow: 0 0 3rem 3px rgba(132, 112, 255, 0.2);
          box-shadow: 0 0 3rem 3px rgba(132, 112, 255, 0.2);
}
.reliable__btn-bg {
  position: absolute;
  z-index: 1;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: 100rem;
  background-color: #141720;
}
.reliable__btn-icon {
  position: relative;
  z-index: 2;
  display: block;
  width: 3.6rem;
  height: 2.4rem;
}
.reliable__btn-icon > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.reliable__item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.new-crypto {
  margin-bottom: 20rem;
}
.new-crypto__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.new-crypto__desc-block {
  width: 42rem;
}
.new-crypto__desc {
  margin-bottom: 2rem;
  font-size: 2rem;
  line-height: 2.4rem;
}
.new-crypto__qty-new {
  font-size: 2rem;
}
.new-crypto__qty-new--gray {
  opacity: 0.5;
}
.new-crypto__title {
  width: 63.6rem;
  font-family: "Druk Wide Cyr";
  font-weight: 500;
  font-size: 5.5rem;
}
.new-crypto__circle-text {
  width: 17.7rem;
  height: 17.7rem;
}
.new-crypto__circle-text > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.new-crypto__slider {
  margin-top: 7rem;
}
.new-crypto__slider .swiper-wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.new-crypto__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.5rem;
  border-radius: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.12);
  background-color: rgba(20, 23, 32, 0.8);
}
.new-crypto__slide:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(-11.24%, rgba(33, 31, 47, 0)), color-stop(49.5%, #211F2F), color-stop(107.76%, rgba(33, 31, 47, 0)));
  background: linear-gradient(90deg, rgba(33, 31, 47, 0) -11.24%, #211F2F 49.5%, rgba(33, 31, 47, 0) 107.76%);
}
.new-crypto__item-img {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 5.5rem;
  height: 5.5rem;
  margin-right: 2rem;
  border-radius: 100%;
  overflow: hidden;
}
.new-crypto__item-img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.new-crypto__item-content {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  margin-top: 1.5rem;
  font-weight: 600;
  font-size: 2.5rem;
}
.new-crypto__title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3.5rem;
}
.new-crypto__price-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.new-crypto__price {
  font-weight: 400;
  opacity: 0.4;
}
.trade-now {
  margin-bottom: 25rem;
}
.trade-now__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 7.5rem 3.7rem 6.3rem 7rem;
  border-radius: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.12);
}
.trade-now__bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  background: rgba(20, 23, 32, 0.8);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
}
.trade-now__text-block {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 63.6rem;
}
.trade-now__title {
  margin-bottom: 4rem;
  font-family: "Druk Wide Cyr";
  font-weight: 500;
  font-size: 5.2rem;
}
.trade-now__desc {
  margin-bottom: 4rem;
  font-size: 2rem;
}
.trade-now__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.trade-now__btn-now {
  margin-right: 4rem;
  background-color: rgb(48, 49, 57);
}
.trade-now__btn-how {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
}
.trade-now__btn-how-icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 7.2rem;
  height: 7.2rem;
  margin-right: 1.6rem;
  border-radius: 100%;
  background-color: rgb(48, 49, 57);
}
.trade-now__btn-how-icon > svg {
  width: 1.5rem;
  height: 2.3rem;
  -webkit-transform: translateX(0.3rem);
          transform: translateX(0.3rem);
}
.trade-now__btn-how-icon > svg path {
  fill: white;
}
.trade-now__btn-how-icon:hover {
  -webkit-box-shadow: 0 0 3rem 3px rgba(132, 112, 255, 0.2);
          box-shadow: 0 0 3rem 3px rgba(132, 112, 255, 0.2);
}
.trade-now__btn-how-icon:after {
  content: "";
  position: absolute;
  left: -1px;
  top: -1px;
  z-index: -1;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border-radius: 100rem;
  background: radial-gradient(41.06% 41.06% at 51.09% -22.85%, #000000 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(86.84% 30.42% at 129.28% 66.93%, #8470FF 0%, rgba(134, 92, 255, 0) 100%), radial-gradient(111.14% 111.14% at 8.37% 0%, rgba(255, 255, 255, 0.36) 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(94.31% 66.31% at -53.25% 10.23%, #FFFFFF 0%, rgba(255, 255, 255, 0.06) 100%);
}
.trade-now__img-box {
  position: absolute;
  right: -6rem;
  top: -21rem;
  width: 98rem;
  height: 92rem;
}
.trade-now__img-box > img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.partners-min {
  margin-bottom: 17rem;
}
.partners-min__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.partners-min__item {
  position: relative;
  -webkit-box-flex: 15%;
      -ms-flex: 15%;
          flex: 15%;
  max-width: 35rem;
  margin-right: 13rem;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.partners-min__item > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.partners-min__item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.partners-min__item:nth-child(4n) {
  margin-right: 0;
}
.partners-min__item:nth-child(n+5) {
  margin-top: 10rem;
}

.latest-news {
  position: relative;
  margin-bottom: 20rem;
}
.latest-news__bg {
  position: absolute;
  left: 0;
  top: -40rem;
  z-index: -1;
  width: 100%;
}
.latest-news__title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 7rem;
}
.latest-news__title {
  font-family: "Druk Wide Cyr";
  font-weight: 500;
  font-size: 5.5rem;
}
.latest-news__more-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0.6rem;
  font-family: "Druk Wide Cyr";
  font-weight: 500;
  font-size: 2.1rem;
  border-bottom: 2px solid;
  border-image-source: linear-gradient(-90deg, #4B63ED 0%, #F163A5 100%);
  border-image-slice: 1;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.latest-news__more-link > svg {
  width: 3.6rem;
  height: 2.4rem;
  margin-left: 1rem;
}
.latest-news__more-link > svg path {
  stroke: white;
}
.latest-news__more-link:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.latest-news__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.latest-news__item {
  position: relative;
  width: 49rem;
  min-height: 44.5rem;
  padding: 26.8rem 4.2rem 3rem 3rem;
  border-radius: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.15);
}
.latest-news__item-bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  background: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
}
.latest-news__img-box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 22.8rem;
  border-radius: 2rem;
  overflow: hidden;
}
.latest-news__img-box > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.latest-news__item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Druk Wide Cyr";
  font-weight: 500;
  font-size: 2.1rem;
  text-transform: uppercase;
}
.latest-news__arrow {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 4.9rem;
  height: 3.7rem;
  margin-left: 1rem;
}
.latest-news__arrow > img {
  width: 100%;
  height: 100%;
}
.latest-news__item-desc {
  margin-top: 2rem;
  font-size: 2rem;
}

.intro {
  margin: 8rem 0 23rem 0;
}
.intro__bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
}
.intro__bg > img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.intro__title {
  width: 62rem;
  margin: 0 auto 5rem auto;
  font-family: "Druk Wide Cyr";
  font-weight: 500;
  font-size: 7.4rem;
  text-transform: uppercase;
  text-align: center;
}
.intro__scroll {
  margin: 0 auto;
}

.check-list {
  margin-bottom: 18rem;
}
.check-list__title {
  width: 75rem;
  margin: 0 auto 4rem auto;
  font-family: "Druk Wide Cyr";
  font-weight: 500;
  font-size: 5.5rem;
  text-align: center;
}
.check-list__desc {
  width: 56.5rem;
  margin: 0 auto 4rem auto;
  font-size: 2rem;
  text-align: center;
}
.check-list__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.check-list__item {
  position: relative;
  width: 48rem;
  padding: 4rem;
  border-radius: 2rem;
  background-color: #141720;
}
.check-list__item:before {
  content: "";
  position: absolute;
  left: -1px;
  top: -1px;
  z-index: -1;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border-radius: 2rem;
  background: radial-gradient(94.31% 66.31% at -53.25% 10.23%, #FFFFFF 0%, rgba(255, 255, 255, 0.06) 100%), radial-gradient(86.84% 30.42% at 129.28% 66.93%, #8470FF 0%, rgba(134, 92, 255, 0) 100%), radial-gradient(41.06% 41.06% at 51.09% -22.85%, #000000 0%, rgba(255, 255, 255, 0) 100%), -webkit-gradient(linear, left bottom, left top, from(#141720), to(#141720));
  background: radial-gradient(94.31% 66.31% at -53.25% 10.23%, #FFFFFF 0%, rgba(255, 255, 255, 0.06) 100%), radial-gradient(86.84% 30.42% at 129.28% 66.93%, #8470FF 0%, rgba(134, 92, 255, 0) 100%), radial-gradient(41.06% 41.06% at 51.09% -22.85%, #000000 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #141720, #141720);
}
.check-list__item:nth-child(3n+1) {
  margin-right: 6rem;
}
.check-list__item:nth-child(3n) {
  margin-left: auto;
}
.check-list__item:nth-child(n+4) {
  margin-top: 6rem;
}
.check-list__star-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8rem;
}
.check-list__star {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 4.8rem;
  height: 4.8rem;
  margin-right: 0.5rem;
}
.check-list__star > img {
  width: 400%;
  height: 400%;
}
.check-list__item-title {
  margin-bottom: 2rem;
  font-family: "Druk Wide Cyr";
  font-weight: 500;
  font-size: 2.1rem;
  text-transform: uppercase;
}
.check-list__item-desc {
  width: 33.7rem;
  font-size: 2rem;
}

.requirement {
  margin-bottom: 18rem;
}
.requirement__title {
  margin-bottom: 7rem;
  font-family: "Druk Wide Cyr";
  font-weight: 500;
  font-size: 5.5rem;
  text-align: center;
}
.requirement__table .table__column {
  font-size: 2rem;
}
.requirement__table .table__column:nth-child(1) {
  width: 6.8rem;
}
.requirement__table .table__column:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}
.requirement__table .table__column:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 27rem;
  margin-right: 5rem;
  font-size: 1.6rem;
  text-align: center;
}
.requirement__table .table__column:nth-child(4) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 27rem;
  margin-right: 5rem;
  font-size: 1.6rem;
  text-align: center;
}
.requirement__table .table__column:nth-child(5) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 27rem;
  font-size: 1.6rem;
  text-align: center;
}
.requirement__icon-yes-no {
  width: 3rem;
  height: 3rem;
}
.requirement__icon-yes-no > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.type-doc {
  margin-bottom: 23rem;
}
.type-doc__title {
  width: 75rem;
  margin: 0 auto 7rem auto;
  font-family: "Druk Wide Cyr";
  font-weight: 500;
  font-size: 5.5rem;
  text-align: center;
}
.type-doc__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.type-doc__item {
  position: relative;
  width: 48rem;
  padding: 4rem;
  border-radius: 2rem;
  background-color: #141720;
}
.type-doc__item:before {
  content: "";
  position: absolute;
  left: -1px;
  top: -1px;
  z-index: -1;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border-radius: 2rem;
  background: radial-gradient(94.31% 66.31% at -53.25% 10.23%, #FFFFFF 0%, rgba(255, 255, 255, 0.06) 100%), radial-gradient(86.84% 30.42% at 129.28% 66.93%, #8470FF 0%, rgba(134, 92, 255, 0) 100%), radial-gradient(41.06% 41.06% at 51.09% -22.85%, #000000 0%, rgba(255, 255, 255, 0) 100%), -webkit-gradient(linear, left bottom, left top, from(#141720), to(#141720));
  background: radial-gradient(94.31% 66.31% at -53.25% 10.23%, #FFFFFF 0%, rgba(255, 255, 255, 0.06) 100%), radial-gradient(86.84% 30.42% at 129.28% 66.93%, #8470FF 0%, rgba(134, 92, 255, 0) 100%), radial-gradient(41.06% 41.06% at 51.09% -22.85%, #000000 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #141720, #141720);
}
.type-doc__item:nth-child(3n+1) {
  margin-right: 6rem;
}
.type-doc__item:nth-child(3n) {
  margin-left: auto;
}
.type-doc__item:nth-child(n+4) {
  margin-top: 6rem;
}
.type-doc__icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 5rem;
  height: 5rem;
  margin-bottom: 3rem;
}
.type-doc__icon > img {
  width: 400%;
  height: 400%;
}
.type-doc__item-title {
  margin-bottom: 2rem;
  font-family: "Druk Wide Cyr";
  font-weight: 500;
  font-size: 2.1rem;
  text-transform: uppercase;
}
.type-doc__item-desc {
  width: 100%;
  font-size: 2rem;
}

html {
  scroll-behavior: smooth;
}

body.lock {
  overflow: hidden;
}

@media (min-width: 48.01em) {
  .mobile {
    display: none;
  }
}
@media (max-width: 48em) {
  .desktop {
    display: none;
  }
}