@import "param";

.about-intro {
  margin-top: 8rem;
  margin-bottom: 18rem;

  &--security {
    margin-top: 4rem;

    .about-intro__image-block {
      width: 63.5rem;
      height: 61rem;
      border-radius: 0;
      margin-right: 0;
      background: none;
      box-shadow: none;

      > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  &--news {
    margin-top: 4rem;

    .about-intro__image-block {
      width: 81.4rem;
      height: 43.6rem;
      border-radius: 0;
      margin-right: 0;
      background: none;
      box-shadow: none;

      > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;

    > img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__text-block {
    width: 63rem;
    margin-top: 8rem;
  }

  &__title {
    margin-bottom: 4rem;
    font-family: $druk;
    font-weight: 500;
    font-size: 7.4rem;
    text-transform: uppercase;
  }

  &__image-block {
    position: relative;
    width: 55.6rem;
    height: 55.6rem;
    margin-right: 15rem;
    border-radius: 100%;
    background: linear-gradient(112.72deg, #DECAFF 11.44%, #691EE2 60.27%);
    box-shadow: -2.9rem -4.1rem 6.6rem 0 rgba(172, 60, 225, 0.76) inset, 0 1.6rem 3.3rem 0 rgba(194, 255, 255, 0.25) inset, 0 0 2rem 0 rgba(255, 255, 255, 0.26) inset;
  }

  &__main-img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    overflow: hidden;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }

  &__box {
    position: absolute;
    z-index: 1;
    border-radius: 3rem;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      z-index: -4;
      display: block;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      border: 1px solid rgba(255, 255, 255, 0.12);
    }

    &--users {
      left: -22rem;
      top: 1.8rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 24rem;

      &:before {
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(60px);
      }

      .about-intro__text {
        margin-bottom: 2rem;
        font-weight: bold;
        font-size: 2.2rem;

        &--gradient {
          margin-bottom: 4rem;
          background: linear-gradient(90deg, #8470FF -17.5%, #FF93BD 60.91%);
          font-weight: 500;
          font-size: 4.5rem;
          letter-spacing: -0.05em;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          color: #8470FF;
        }
      }
    }

    &--crypto {
      left: -16rem;
      bottom: 9.5rem;
      padding: 1.5rem 3.8rem;
      border-radius: 100rem;
      font-weight: bold;
      font-size: 1.6rem;

      &:before {
        background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(40px);
      }
    }

    &--no-risk {
      right: -11.5rem;
      top: 0.5rem;
      width: 16.9rem;
      padding: 2.6rem 2.8rem 2.3rem 2.8rem;
      background: rgba(255, 255, 255, 0.11);
      backdrop-filter: blur(48px);

      .about-intro__icon {
        width: 3.3rem;
        height: 3.3rem;
        margin-bottom: 2rem;

        > img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .about-intro__text {
        width: 11.3rem;
        font-weight: 500;
        font-size: 2rem;
        line-height: 3rem;
      }
    }

    &--working {
      right: -14.3rem;
      bottom: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 18.6rem;
      padding: 2.9rem 0 1.8rem 0;
      background: rgba(255, 255, 255, 0.11);
      backdrop-filter: blur(40px);

      .about-intro__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4.6rem;
        height: 4.6rem;
        margin-bottom: 1rem;

        > img {
          width: 400%;
          height: 400%;
        }
      }

      .about-intro__text {
        width: 9rem;
        font-weight: bold;
        font-size: 1.6rem;
        text-align: center;
      }
    }
  }

  &__users-img-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11.8rem;
    height: 11.8rem;
    margin-top: -4.4rem;
    margin-bottom: 4rem;
    border-radius: 100%;
    background: linear-gradient(57.93deg, #8470FF 8.49%, #FF93BD 104.67%),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
    box-shadow: 0.6rem 1.5rem 6rem 0 #D1D2E4;

    > img {
      width: 60%;
      height: 60%;
      object-fit: contain;
    }

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: -1;
      display: block;
      width: 13.8rem;
      height: 13.8rem;
      transform: translate(-50%, -50%);
      border-radius: 100%;
      background: rgba(255, 255, 255, 0.3);
    }

    &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: -2;
      display: block;
      width: 16rem;
      height: 16rem;
      transform: translate(-50%, -50%);
      border-radius: 100%;
      background: rgba(255, 255, 255, 0.1);
    }
  }

  &__users-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.8rem;
    height: 3.8rem;
    padding-bottom: 1.2rem;
    margin-bottom: -1.9rem;
    border-radius: 100%;
    background-color: white;
    font-size: 3rem;
    color: #656A77;
  }

  &__text {
    &--gradient {
    }
  }

  &__icon {
  }
}

@media (max-width: 48em) {
  .about-intro {
    margin-top: 10rem;
    margin-bottom: 24rem;

    &--security {
      margin-top: 7rem;

      .about-intro__image-block {
        width: 100%;
        height: 72rem;
        margin: 0;
      }

      .about-intro__text-block {
        margin-bottom: 12rem;
      }
    }

    &--news {
      margin-top: 7rem;

      .about-intro__image-block {
        width: 100%;
        height: 42rem;
        margin: 0;
      }

      .about-intro__text-block {
        margin-bottom: 12rem;
      }
    }

    &__bg {
    }

    &__container {
      display: block;
    }

    &__text-block {
      width: 100%;
      margin-top: 0;
      margin-bottom: 17rem;
    }

    &__title {
      margin-bottom: 0;
      font-weight: 700;
      font-size: 5.2rem;
    }

    &__image-block {
      width: 46.4rem;
      height: 46.4rem;
      margin-right: 0;
      margin-left: 17.3rem;
      box-shadow: -2.4rem -3.4rem 5.4rem 0 rgba(172, 60, 225, 0.76) inset, 0 1.4rem 2.7rem 0 rgba(194, 255, 255, 0.25) inset, 0 0 1.6rem 0 rgba(255, 255, 255, 0.26) inset;
    }

    &__main-img {
    }

    &__box {
      border-radius: 2.5rem;

      &--users {
        left: -18.4rem;
        top: 1.5rem;
        width: 20rem;

        &:before {
          backdrop-filter: blur(25px);
        }

        .about-intro__text {
          margin-bottom: 1.5rem;
          font-size: 1.8rem;

          &--gradient {
            margin-bottom: 2rem;
            font-size: 3.8rem;
          }
        }
      }

      &--crypto {
        left: -15.8rem;
        bottom: 8rem;
        padding: 1rem 2.2rem;
        font-size: 1.8rem;

        &:before {
          backdrop-filter: blur(17px);
        }
      }

      &--no-risk {
        right: -9.6rem;
        top: 0.4rem;
        width: 14rem;
        padding: 2.2rem 2.4rem 1.4rem 2.4rem;
        backdrop-filter: blur(20px);

        .about-intro__icon {
          width: 2.8rem;
          height: 2.8rem;
          margin-bottom: 1.4rem;
        }

        .about-intro__text {
          width: 100%;
          font-weight: 700;
          font-size: 1.8rem;
          line-height: 2.6rem;
        }
      }

      &--working {
        right: -12rem;
        bottom: -0.7rem;
        width: 15.6rem;
        padding: 2rem 0 1.4rem 0;
        backdrop-filter: blur(17px);

        .about-intro__icon {
          width: 4rem;
          height: 4rem;
          margin-bottom: 0.7rem;
        }

        .about-intro__text {
          width: 10rem;
          font-size: 1.8rem;
        }
      }
    }

    &__users-img-box {
      width: 9.8rem;
      height: 9.8rem;
      margin-top: -3.6rem;
      margin-bottom: 4rem;
      box-shadow: 0.5rem 1.2rem 5rem 0 #D1D2E4;

      &:before {
        width: 11.5rem;
        height: 11.5rem;
      }

      &:after {
        width: 13.3rem;
        height: 13.3rem;
      }
    }

    &__users-circle {
      width: 3.2rem;
      height: 3.2rem;
      padding-bottom: 0.8rem;
      margin-bottom: -1.6rem;
      font-size: 2.6rem;
    }

    &__text {
      &--gradient {
      }
    }

    &__icon {
    }
  }
}