@import "param";

.article {
  margin-bottom: 18rem;

  &__title-block {
    padding: 0 28rem;
    margin-bottom: 7rem;
  }

  &__title {
    margin-bottom: 4rem;
    font-family: $druk;
    font-weight: 500;
    font-size: 5.2rem;
  }

  &__date {
    font-size: 2rem;
    color: #CECEDA;
  }

  &__img-box {
    position: relative;
    width: 100%;
    height: 55rem;
    margin-bottom: 15rem;
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.12);
    overflow: hidden;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    padding: 0 28rem;
  }

  &__item {
    > *:not(:last-child) {
      margin-bottom: 4rem;
    }

    &:not(:last-child) {
      margin-bottom: 15rem;
    }
  }

  &__item-title {
    font-family: $druk;
    font-weight: 500;
    font-size: 4rem;
  }

  &__text {
    font-size: 2rem;
    color: #CECEDA;
  }

  &__list {
  }

  &__list-item {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }

  &__number {
    flex: none;
    width: 6.2rem;
    font-family: $druk;
    font-weight: bold;
    font-size: 1.8rem;
  }

  &__important {
    position: relative;
    padding-left: 3rem;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 3px;
      height: 100%;
      border-radius: 100rem;
      background: linear-gradient(99.94deg, #8470FF 21.81%, #EB81C8 97.95%),
      linear-gradient(57.93deg, #8470FF 8.49%, #FF93BD 104.67%);
    }
  }

  &__imp-title {
    margin-bottom: 1.5rem;
    font-family: $druk;
    font-weight: 500;
    font-size: 2.1rem;
    text-transform: uppercase;
  }

  &__item-img {
  }
}