@import "param";

.bank {
  margin-bottom: 17rem;

  &__title {
    margin-bottom: 5rem;
    font-family: $druk;
    font-weight: 500;
    font-size: 5.5rem;
    text-align: center;
  }

  &__cards {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 75rem;
    height: fit-content;
    padding: 3.1rem 3.6rem 7rem 4.7rem;
    border-radius: 2rem;
  }

  &__item-bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;

    > img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }

  &__text-block {
    width: 54.5rem;
  }

  &__item-title {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    font-family: $druk;
    font-weight: 500;
    font-size: 5.2rem;
    text-transform: uppercase;
  }

  &__text {
    margin-bottom: 3rem;
    font-size: 1.7rem;
  }

  &__btn {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.12);
    font-family: $def-font;
    font-weight: 400;
    font-size: 2rem;

    &:after {
      content: none;
    }

    .button__icon {
      margin-top: 0.2rem;
    }
  }

  &__img-box {
    width: 11rem;
    height: 11rem;

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

@media (max-width: 48em) {
  .bank {
    margin-bottom: 24rem;

    &__title {
      margin-bottom: 7rem;
      font-weight: 700;
      font-size: 5.2rem;
    }

    &__cards {
      display: block;
    }

    &__item {
      width: 100%;
      padding: 7rem 4rem 11rem 4rem;
      border-radius: 2rem;

      &:not(:last-child) {
        margin-bottom: 4rem;
      }
    }

    &__item-bg {
    }

    &__text-block {
      width: 61rem;
    }

    &__item-title {
      margin-top: 0;
      margin-bottom: 4rem;
      font-weight: 700;
      font-size: 5.2rem;
    }

    &__text {
      margin-bottom: 7rem;
      font-size: 2.8rem;
    }

    &__text-float {
      display: block;
      width: 8rem;
      height: 6rem;
      float: right;
    }

    &__btn {
      min-width: 46rem;
      height: 10rem;
      padding: 0 6rem;
      background-color: rgba(33, 35, 43, 1);
      border: none;
      font-family: $druk;
      font-weight: 500;
      font-size: 3rem;

      &:after {
        content: '';
      }

      .button__icon {
        margin-top: 1rem;
      }
    }

    &__img-box {
      position: absolute;
      right: 4rem;
      top: 4rem;
      width: 14rem;
      height: 14rem;
    }
  }
}