@import "param";

.bug-require {
  margin-bottom: 18rem;

  &__title-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4.5rem;
  }

  &__title {
    width: 56.4rem;
    font-family: $druk;
    font-weight: 500;
    font-size: 4rem;
    line-height: 4.4rem;
    text-transform: uppercase;
  }

  &__desc {
    width: 78.5rem;
    font-size: 2rem;
    line-height: 2.4rem;
    text-align: right;
  }

  &__separate {
    width: 100%;
    height: 2px;
    margin-bottom: 4.5rem;
    border-radius: 2rem;
    background: linear-gradient(90deg, transparent 0, white 50%, transparent 100%);
    opacity: 0.25;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__list-box {
    width: 70rem;
  }

  &__list-desc {
    margin-bottom: 5rem;
    font-size: 2rem;
    line-height: 2.4rem;
  }

  &__list {
  }

  &__list-item {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 3.5rem;
    }
  }

  &__item-number {
    flex: none;
    width: 5.5rem;
    font-family: $druk;
    font-weight: 700;
    font-size: 1.7rem;
  }

  &__item-text {
    font-size: 1.7rem;
    line-height: 2rem;
    color: #CECEDA;

    > a {
      color: #EB81C8;

      &:hover {
        color: #c06ba4;
      }
    }
  }

  &__img-box {
    position: relative;
    width: 73.3rem;
    height: 49.1rem;
    border-radius: 2rem;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: inherit;
    }
  }

  &__img-text-box {
    position: absolute;
    left: -5.6rem;
    bottom: -4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 26rem;
    min-height: 10rem;
    padding: 0 3rem;
    border-radius: 2rem;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(3rem);
    }
  }

  &__img-text {
    position: relative;
    width: 13.4rem;
    font-size: 1.7rem;
    line-height: 2rem;
  }

  &__img-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;

    > img {
      width: 22rem;
      height: 22rem;
      //transform: translate(-50%, -50%);
    }
  }
}

@media (max-width: 48em) {
  .bug-require {
    margin-bottom: 24rem;

    &__title-box {
      display: block;
      margin-bottom: 4rem;
    }

    &__title {
      width: 100%;
      margin-bottom: 4rem;
      font-weight: 700;
      font-size: 5.2rem;
      line-height: 6.3rem;
    }

    &__desc {
      width: 100%;
      font-size: 2.8rem;
      line-height: 3.4rem;
      text-align: left;
    }

    &__separate {
    }

    &__content {
      display: block;
    }

    &__list-box {
      width: 100%;
      margin-bottom: 7rem;
    }

    &__list-desc {
      margin-bottom: 4rem;
      font-size: 2.8rem;
      line-height: 3.4rem;
    }

    &__list {
    }

    &__list-item {
      &:not(:last-child) {
        margin-bottom: 3rem;
      }
    }

    &__item-number {
      width: 7rem;
      margin-right: 2rem;
      font-size: 2.8rem;
    }

    &__item-text {
      font-size: 2.8rem;
      line-height: 3.4rem;
    }

    &__img-box {
      width: 100%;
      height: 46.6rem;
      padding-left: 5rem;
      border-radius: 2rem;
    }

    &__img-text-box {
      left: 0;
      bottom: -4rem;
      width: 34rem;
      min-height: 13rem;
      padding: 0 4rem;

      &:before {
        backdrop-filter: blur(6rem);
      }
    }

    &__img-text {
      width: 17.6rem;
      font-size: 2.8rem;
      line-height: 3.4rem;
    }

    &__img-icon {
      width: 6rem;
      height: 6rem;

      > img {
        width: 26rem;
        height: 26rem;
      }
    }
  }
}