@import "param";

.commis-tab {
  margin-bottom: 18rem;

  &__title {
    margin-bottom: 3rem;
    font-family: $druk;
    font-weight: 500;
    font-size: 5.5rem;
  }

  &__desc {
    margin-bottom: 6rem;
    font-size: 2rem;
  }

  &__table {
    .table__column {
      font-size: 2rem;

      &:nth-child(1) {
        width: 6.8rem;
      }

      &:nth-child(2) {
        width: 46rem;
        margin-right: 2rem;
      }

      &:nth-child(3) {
        flex: auto;
        font-size: 1.7rem;
        letter-spacing: 0.05em;
      }
    }
  }
}