@import "param";

.contacts {
  margin-bottom: 18rem;

  &__title {
    margin-bottom: 6rem;
    font-family: $druk;
    font-weight: 500;
    font-size: 5.5rem;
    text-align: center;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6rem;
  }

  &__link {
    display: flex;
    align-items: center;
  }

  &__link-icon {
    position: relative;
    width: 8.6rem;
    height: 8.6rem;
    margin-right: 2.5rem;

    > img {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 300%;
      height: 300%;
      object-fit: contain;
      transform: translate(-50%, -50%);
    }
  }

  &__link-text-block {
  }

  &__link-title {
    display: block;
    margin-bottom: 1.5rem;
    font-family: $druk;
    font-weight: 500;
    font-size: 2.1rem;
    text-transform: uppercase;
  }

  &__link-contact {
    display: block;
    font-size: 2rem;
  }

  &__map {
    position: relative;
    width: 100%;
    height: 53rem;
    padding: 1px;
    border-radius: 2rem;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      display: block;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      background: radial-gradient(41.06% 41.06% at 51.09% -22.85%, #000000 0%, rgba(255, 255, 255, 0) 100%),
      radial-gradient(86.84% 30.42% at 129.28% 66.93%, #8470FF 0%, rgba(134, 92, 255, 0) 100%),
      radial-gradient(94.31% 66.31% at -53.25% 10.23%, #FFFFFF 0%, rgba(255, 255, 255, 0.06) 100%);
    }

    #map {
      width: 100%;
      height: 100%;
      border-radius: inherit;
      overflow: hidden;

      .ymaps-2-1-79-ground-pane {
        filter: invert(0.9) grayscale(1);
        -ms-filter: invert(0.9) grayscale(1);
        -webkit-filter: invert(0.9) grayscale(1);
        -moz-filter: invert(0.9) grayscale(1);
        -o-filter: invert(0.9) grayscale(1);
      }

      .ymaps-2-1-79-copyrights-pane,
      .ymaps-2-1-79-controls-pane {
        //filter: invert(0.9) grayscale(1);
      }
    }
  }
}

@media (max-width: 48em) {
  .contacts {
    margin-bottom: 24rem;

    &__title {
      margin-bottom: 8rem;
      font-weight: 700;
      font-size: 5.2rem;
    }

    &__links {
      display: block;
      margin-bottom: 8rem;
    }

    &__link {
      justify-content: center;

      &:not(:last-child) {
        margin-bottom: 6rem;
      }
    }

    &__link-icon {
      width: 12rem;
      height: 12rem;
      margin-right: 4rem;

      > img {
        //width: 300%;
        //height: 300%;
      }
    }

    &__link-text-block {
    }

    &__link-title {
      margin-bottom: 2rem;
      font-size: 3.6rem;
    }

    &__link-contact {
      font-size: 2.8rem;
    }

    &__map {
      height: 110rem;
      border-radius: 4rem;
    }
  }
}