@import "param";

.crypto {
  margin-bottom: 17rem;

  &__title-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7rem;
  }

  &__title {
    font-family: $druk;
    font-weight: 500;
    font-size: 5.5rem;
  }

  &__more-link {
    display: flex;
    align-items: center;
    padding-bottom: 0.6rem;
    font-family: $druk;
    font-weight: 500;
    font-size: 2.1rem;
    border-bottom: 2px solid;
    border-image-source: linear-gradient(-90deg, #4B63ED 0%, #F163A5 100%);
    border-image-slice: 1;
    transition: transform 0.2s;

    > svg {
      width: 3.6rem;
      height: 2.4rem;
      margin-left: 1rem;

      path {
        stroke: white;
      }
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  &__table {
    .table__row {
      padding: 2.5rem 0;

      &:hover {
        background: linear-gradient(90deg, rgba(33, 31, 47, 0) -11.24%, #211F2F 49.5%, rgba(33, 31, 47, 0) 107.76%);
      }

      &:not(:last-child) {
        margin-bottom: 0;
      }

      &:first-child {
        margin-top: -2.5rem;
      }

      &:last-child {
        margin-bottom: -2.5rem;
      }
    }

    .table__column {
      font-size: 2rem;

      &:nth-child(1) {
        width: 5.6rem;
      }

      &:nth-child(2) {
        flex: auto;
      }

      &:nth-child(3) {
        width: 25.1rem;
      }

      &:nth-child(4) {
        width: 23.4rem;
      }

      &:nth-child(5) {
        width: 22.5rem;
      }

      &:nth-child(6) {
        width: 28.3rem;
        text-align: right;
      }
    }
  }

  &__name-block {
    display: flex;
    align-items: center;
  }

  &__icon {
    width: 5.5rem;
    height: 5.5rem;
    margin-right: 2rem;
    border-radius: 100%;
    overflow: hidden;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__name {
    margin-right: 1rem;
    font-weight: 600;
    font-size: 2.5rem;
  }

  &__abbr {
    margin-top: 0.4rem;
    font-size: 1.7rem;
    opacity: 0.5;
    text-transform: uppercase;
  }

  &__trend {
    &--green {
      color: #50DFB2;
    }

    &--red {
      color: #FF93BD;
    }
  }

  &__graph {
    width: 100%;
    height: 5rem;

    > img {
      width: 100%;
      height: 100%;
    }
  }
}