@import "param";

.crypto {
  margin-bottom: 17rem;

  &--markets {
    margin-bottom: 22rem;

    .table__content {
      padding: 2.5rem 5rem 2.5rem 4rem;
    }

    .table__row-title {
      padding: 0 5rem 0 4rem;
    }

    .crypto__table {
      .table__column {
        &:nth-child(1) {
          width: 6rem;
        }

        &:nth-child(2) {
          flex: auto;
        }

        &:nth-child(3) {
          width: 26rem;
        }

        &:nth-child(4) {
          width: 21.6rem;
        }

        &:nth-child(5) {
          width: 21rem;
          padding-right: 5.8rem;
        }

        &:nth-child(6) {
          width: 18rem;
          text-align: left;
        }

        &:nth-child(7) {
          width: 20rem;
          text-align: right;
        }
      }
    }
  }

  &__title-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7rem;
  }

  &__title {
    font-family: $druk;
    font-weight: 500;
    font-size: 5.5rem;
  }

  &__more-link {
    display: flex;
    align-items: center;
    padding-bottom: 0.6rem;
    font-family: $druk;
    font-weight: 500;
    font-size: 2.1rem;
    border-bottom: 2px solid;
    border-image-source: linear-gradient(-90deg, #4B63ED 0%, #F163A5 100%);
    border-image-slice: 1;
    transition: transform 0.2s;

    > svg {
      width: 3.6rem;
      height: 2.4rem;
      margin-left: 1rem;

      path {
        stroke: white;
      }
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  &__table {
    .table__column {
      font-size: 2rem;

      &:nth-child(1) {
        width: 5.6rem;
      }

      &:nth-child(2) {
        flex: auto;
      }

      &:nth-child(3) {
        width: 25.1rem;
      }

      &:nth-child(4) {
        width: 23.4rem;
      }

      &:nth-child(5) {
        width: 22.5rem;
      }

      &:nth-child(6) {
        width: 28.3rem;
        text-align: right;
      }
    }

    .table__column-title {
      font-size: 1.7rem;
    }
  }

  &__name-block {
    display: flex;
    align-items: center;
  }

  &__icon {
    width: 5.5rem;
    height: 5.5rem;
    margin-right: 2rem;
    border-radius: 100%;
    overflow: hidden;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__name {
    margin-right: 1rem;
    font-weight: 600;
    font-size: 2.5rem;
  }

  &__abbr {
    margin-top: 0.4rem;
    font-size: 1.7rem;
    opacity: 0.5;
    text-transform: uppercase;
  }

  &__trend {
    &--green {
      color: #50DFB2;
    }

    &--red {
      color: #FF93BD;
    }
  }

  &__graph {
    width: 100%;
    height: 5rem;

    > img {
      width: 100%;
      height: 100%;
    }
  }
}

.crypto-tab {
  margin-bottom: 23rem;

  &__title {
    margin-bottom: 6rem;
    font-family: $druk;
    font-weight: 500;
    font-size: 5.5rem;
  }

  &__table {
    .table__column {
      font-size: 2rem;

      &:nth-child(1) {
        width: 7.1rem;
      }

      &:nth-child(2) {
        width: 48rem;
      }

      &:nth-child(3) {
        width: 21rem;
      }

      &:nth-child(4) {
        width: 21rem;
      }
    }

    &--crypto-deposit {
      .table__column {
        font-size: 2rem;
        letter-spacing: 0.05em;

        &:nth-child(1) {
          flex: auto;
        }

        &:nth-child(2) {
          width: 27rem;
        }

        &:nth-child(3) {
          width: 26rem;
        }

        &:nth-child(4) {
          width: 27rem;
        }

        &:nth-child(5) {
          width: 30rem;
        }

        &:nth-child(6) {
          width: 14rem;
        }
      }
    }

    &--min-deposit {
      .table__column {
        font-size: 2rem;
        letter-spacing: 0.05em;

        &:nth-child(1) {
          flex: auto;
        }

        &:nth-child(2) {
          width: 31rem;
        }

        &:nth-child(3) {
          width: 34rem;
        }

        &:nth-child(4) {
          width: 35rem;
        }

        &:nth-child(5) {
          width: 23rem;
        }
      }
    }
  }
}