@import "param";

.header {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: block;
    width: 22rem;
    height: 16rem;
    margin-right: 10rem;

    > img {
      width: 100%;
      height: 100%;
    }
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    font-size: 2rem;

    &:not(:last-child) {
      margin-right: 6rem;
    }

    &:hover {
      color: #bbb;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;

    > *:not(:last-child) {
      margin-right: 2.5rem;
    }
  }
}