@import "param";

.main-intro {
  margin-top: 13rem;
  margin-bottom: 20rem;

  &__bg {
    position: absolute;
    z-index: -1;

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &--crystal {
      left: 0;
      top: 10.5rem;
      width: 38rem;
      height: 78.2rem;
      filter: grayscale(1);
    }

    &--cards {
      right: 0;
      top: 0;
      width: 120rem;
      height: 113.9rem;
      overflow: hidden;

      > img {
        transform: translateX(10rem);
      }
    }
  }

  &__container {
    position: relative;
    padding-left: 14rem;
  }

  &__circle-text {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 17.7rem;
    height: 17.7rem;

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__number {
    display: flex;
    align-items: center;
    font-family: $met;
    font-size: 10rem;
    letter-spacing: -0.08em;
  }

  &__star-icon {
    width: 9.7rem;
    height: 9.7rem;
    margin-bottom: 2rem;
    margin-left: 2rem;

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__title {
    margin-bottom: 6rem;
    font-family: $druk;
    font-weight: bold;
    font-size: 7.2rem;
    line-height: 6.3rem;
    text-transform: uppercase;
  }

  &__desc {
    width: 50.5rem;
    margin-left: 8rem;
    margin-bottom: 6rem;
    font-size: 2rem;
  }

  &__button {
    margin-left: 8rem;
  }

  &__scroll-link {
    margin: 12rem auto 0 auto;
    transform: translateX(-5rem);
  }
}

@media (max-width: 48em) {
  .main-intro {
    margin-top: 8rem;
    margin-bottom: 24rem;

    &__bg {
      &--crystal {
      }

      &--cards {
        right: 0;
        top: 30rem;

        > img {
          transform: translateX(53.5rem);
        }
      }
    }

    &__container {
      padding: 0 4rem 44rem 4rem;
    }

    &__circle-text {
      right: auto;
      left: 0;
      bottom: 0;
      width: 30rem;
      height: 30rem;
    }

    &__number {
      font-size: 9rem;
    }

    &__star-icon {
      width: 8.4rem;
      height: 8.4rem;
      margin-bottom: 1.5rem;
    }

    &__title {
      margin-top: -1rem;
      margin-bottom: 4rem;
      font-size: 5.2rem;
      line-height: 6.3rem;
    }

    &__desc {
      width: 61rem;
      margin-left: 0;
      margin-bottom: 7rem;
      font-size: 2.8rem;
    }

    &__button {
      margin-left: 0;
    }

    &__scroll-link {
    }
  }
}