@import "param";

.partners-min {
  margin-bottom: 17rem;

  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    flex: 15%;
    max-width: 35rem;
    margin-right: 13rem;
    transition: transform 0.3s;

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &:hover {
      transform: scale(1.1);
    }

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:nth-child(n + 5) {
      margin-top: 10rem;
    }
  }
}

.partners {
  margin-bottom: 23rem;

  &__cards {
    position: relative;
    display: flex;
    flex-wrap: wrap;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 2rem;
      background: url("../img/partners-bg.png") repeat;
      opacity: 0.12;
    }
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 31.2rem;
    height: 27.6rem;
    border: 1px solid rgba(255, 255, 255, 0.12);

    &:hover {
      .partners__item-bg {
        opacity: 1;
      }

      .partners__img-box {
        opacity: 1;
        transform: scale(1.25);
      }

      .partners__arrow {
        opacity: 1;
      }
    }

    @media (min-width: 48.01em) {
      &:nth-last-child(1),
      &:nth-last-child(2),
      &:nth-last-child(3),
      &:nth-last-child(4),
      &:nth-last-child(5){
        border-bottom: none;
      }

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5){
        border-top: none;
      }

      &:nth-child(5n + 1) {
        border-left: none;
      }

      &:nth-child(5n) {
        border-right: none;
      }
    }
  }

  &__item-bg {
    position: absolute;
    left: 50%;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;

    > img {
      width: 150%;
      height: 150%;
      object-fit: contain;
    }
  }

  &__img-box {
    width: 19rem;
    height: 19rem;
    opacity: 0.6;
    transition: opacity 0.2s ease, transform 0.3s ease;

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__arrow {
    position: absolute;
    left: 50%;
    bottom: 4rem;
    width: 4.9rem;
    height: 3.7rem;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.2s ease;

    > svg {
      width: 100%;
      height: 100%;

      > path {
        stroke: white;
      }
    }
  }
}

@media (max-width: 48em) {
  .partners-min {
    margin-bottom: 24rem;

    &__container {
      flex-wrap: nowrap;
      overflow-x: scroll;

      &::-webkit-scrollbar {
        height: 0;
        width: 0;
      }
    }

    &__item {
      flex: none;
      max-width: none;
      width: 44rem;
      height: auto;

      &:nth-child(4n) {
        margin-right: 13rem;
      }

      &:nth-child(n + 5) {
        margin-top: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .partners {
    margin-bottom: 24rem;

    &__cards {
      &:before {
        content: none;
      }

      &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        width: 1px;
        height: 100%;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.19) 3.63%, #FFFFFF 50.25%, rgba(255, 255, 255, 0) 100%);
        opacity: 0.25;
      }
    }

    &__item {
      width: 50%;
      height: 31.6rem;
      border: none;

      &:nth-child(2n + 3) {
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 75rem;
          height: 1px;
          background: linear-gradient(90deg, rgba(255, 255, 255, 0.19) 3.63%, #FFFFFF 50.25%, rgba(255, 255, 255, 0) 100%);
          opacity: 0.25;
        }
      }
    }

    &__item-bg {
    }

    &__img-box {
      width: 75%;
      height: 75%;
      opacity: 1;
    }

    &__arrow {
      width: 8rem;
      height: 6rem;
    }
  }
}