@import "param";

.requirement {
  margin-bottom: 18rem;

  &__title {
    margin-bottom: 7rem;
    font-family: $druk;
    font-weight: 500;
    font-size: 5.5rem;
    text-align: center;
  }

  &__table {
    .table__column {
      font-size: 2rem;

      &:nth-child(1) {
        width: 6.8rem;
      }

      &:nth-child(2) {
        flex: auto;
      }

      &:nth-child(3) {
        display: flex;
        justify-content: center;
        width: 27rem;
        margin-right: 5rem;
        font-size: 1.6rem;
        text-align: center;
      }

      &:nth-child(4) {
        display: flex;
        justify-content: center;
        width: 27rem;
        padding: 0 4rem;
        margin-right: 5rem;
        font-size: 1.6rem;
        text-align: center;
      }

      &:nth-child(5) {
        display: flex;
        justify-content: center;
        width: 27rem;
        font-size: 1.6rem;
        text-align: center;
      }
    }
  }

  &__icon-yes-no {
    width: 3rem;
    height: 3rem;

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

@media (max-width: 48em) {
  .requirement {
    margin-bottom: 24rem;

    &__title {
      font-weight: 700;
      font-size: 5.2rem;
    }

    &__table {
      .table__column {
        font-size: 2.8rem;

        &:nth-child(n) {
          justify-content: space-between;
          padding: 0;
          margin-right: 0;
          font-size: 2.8rem;
        }
      }

      .table__row-number {
        top: 4rem;
      }
    }

    &__icon-yes-no {
      width: 4rem;
      height: 4rem;
    }
  }
}