@import "set";
@import "components";

@import "header";
@import "footer";

@import "main-intro";
@import "basic-coin";
@import "crypto";
@import "portable";
@import "reliable";




html {
  scroll-behavior: smooth;
}

body.lock {
  overflow: hidden;
}

@media (min-width: 48.01em) {
  .mobile {
    display: none;
  }
}

@media (max-width: 48em) {
  .desktop {
    display: none;
  }
}