@import "set";
@import "components";

@import "header";
@import "footer";

@import "main-intro";
@import "basic-coin";
@import "crypto";
@import "portable";
@import "reliable";
@import "new-crypto";
@import "trade-now";
@import "partners";
@import "latest-news";
@import "intro";
@import "check-list";
@import "requirement";
@import "type-doc";
@import "commis";
@import "commis-tab";
@import "bank";
@import "about-intro";
@import "advantages";
@import "contacts";
@import "security";
@import "news";
@import "article";
@import "docs";
@import "doc-page";




html {
  scroll-behavior: smooth;
}

body.lock {
  overflow: hidden;
}

@media (min-width: 48.01em) {
  .mobile {
    display: none;
  }
}

@media (max-width: 48em) {
  .desktop {
    display: none;
  }
}